.Cards-card {
  background-color: rgb(228, 211, 184);
  padding-bottom: 20px;
}
.Card-img-container {
  overflow: hidden;
  cursor: pointer;
}
.Cards-card img {
  width: 400px;
  height: 400px;
  transition: all 0.4s;
}
.Cards-card img:hover {
  transform: scale(1.2);
}
.Cards-card-info {
  padding: 10px;
}
.Cards-card-info button {
  margin-top: 10px;
  padding: 10px;
}
.Cards-card-title {
  text-transform: capitalize;
  margin-bottom: 20px;
}
.Cards-card-link {
  cursor: pointer;
  padding: 10px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}
